html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #A3A380;
    background-image: url("/Images/page-bg2.png");
    background-repeat: no-repeat;
    background-position: center 200px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.lbldate {
    background-color: #230404;
    color: #A39689;
    padding-left: 19%;
}

form{
    flex: 1;
}